<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xjh786.mainpage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Astro Library"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Android Library"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Android Library"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="Android Library">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:theme="@style/AppTheme.AboutAndCredit">
        </activity>
        <activity android:name=".Credits"
            android:label="Credits"
            android:theme="@style/AppTheme.AboutAndCredit">
        </activity>
    </application>

</manifest>
